html {
  height: 100%;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

.howtouse {
  text-align: center;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  width: 100%; /* Spans the full width of its container */
  padding: 20px 0; /* Adds some padding for better visual appearance */
  box-sizing: border-box; /* Ensures padding is included in the width calculation */
  border-top: 1px solid black; /* Adds a black bottom border */
}

.heading {
  background-color: white;
  width: 100%;
}

h1 {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  text-align: center;
}

.color1 {
  color: rgb(201, 77, 27);
}

.color2 {
  color: rgb(46, 67, 85);
}

h4 {
  text-align: center;
  color: white;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  text-align: center;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  width: 100%; /* Spans the full width of its container */
  padding: 20px 20px; /* Adds some padding for better visual appearance */
  box-sizing: border-box; /* Ensures padding is included in the width calculation */
}

h3,
p {
  text-align: center;
  color: white;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  text-align: center;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  width: 100%; /* Spans the full width of its container */
  padding: 5px 20px; /* Adds some padding for better visual appearance */
  box-sizing: border-box; /* Ensures padding is included in the width calculation */
}

.navbar {
  text-align: center;
  align-items: center;
  padding: 20px;
}

.warning {
  text-align: center;
}

.submenu {
  display: none;
  /* Hide all submenus by default */
}

.dropdown-content li {
  list-style: none;
  text-align: center;
  margin-right: 40px;
}

.dropdown-btn {
  background-color: #555;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
  text-align: center;
  justify-content: space-around;
  width: 8.4%;
}

.dropdown-btn:hover {
  background-color: rgb(201, 77, 27);
  box-shadow: 0 2px 3px rgba(255, 255, 255, 0.5);
  transform: scale(1.05);
}

.sub-btn {
  background-color: rgb(201, 77, 27);
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
  text-align: center;
}

.sub-btn:hover {
  background-color: rgb(201, 77, 27);
  box-shadow: 0 2px 3px rgba(255, 255, 255, 0.5);
  transform: scale(1.05);
}

/* Style for each submenu content box */
#submenu1,
#submenu2,
#submenu3,
#submenu4,
#submenu5,
#submenu6,
#submenu7,
#submenu8,
#submenu9,
#submenu10,
#submenu11,
#submenu12,
#submenu13,
#submenu14,
#submenu15,
#submenu16,
#submenu17,
#submenu18,
#submenu19,
#submenu20,
#submenu21,
#submenu22,
#submenu23,
#submenu24,
#submenu25,
#submenu26,
#submenu27,
#submenu28,
#submenu29,
#submenu30,
#submenu31,
#submenu32,
#submenu33,
#submenu34,
#submenu35,
#submenu36,
#submenu37,
#submenu38,
#submenu39,
#submenu40,
#submenu41,
#submenu42,
#submenu43,
#submenu44,
#submenu45,
#submenu46,
#submenu47,
#submenu48 {
  border: 0.0001px solid black;
  border-radius: 10px;
  width: 265px;
  margin: auto;
  color: white;
  text-align: center;
  font-weight: bold;
  background-color: rgb(66, 74, 79);
}

/* Style for submit and clear buttons within each submenu */
.submenu button {
  background-color: rgb(201, 77, 27);
  color: white;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s, box-shadow 0.3s;
  text-align: center;
  margin-left: 5px;
}

button {
  text-align: center;
}

.submenu button:hover {
  background-color: rgb(201, 77, 27);
  box-shadow: 0 2px 3px rgba(255, 255, 255, 0.5);
}

/* Style for input feilds */
.submenu input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  position: relative;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  border: 0.1px solid black;
}

#totalbox {
  display: inline-block;
  vertical-align: middle;
  margin: 0px, 0px;
  padding: 10px 12px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  position: relative;
  border: 4px solid black;
  border-radius: 10px;
  text-align: center;
  color: white;
}

.totalbox {
  text-align: center;
  vertical-align: middle;
  position: relative;
  margin-right: 40px;
  color: white;
}

li {
  list-style: none;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  body {
    background-color: rgb(46, 67, 83);
    display: flex;
    flex-direction: column;
    align-items: center; /* Center vertically */
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  }

  .heading {
    background-color: white;
    width: 100vw;
    height: 100%;
    border-bottom: 2px solid black; /* Adds a black bottom border */
  }

  h1 {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    text-align: center;
  }

  .color1 {
    color: rgb(201, 77, 27);
  }

  .color2 {
    color: rgb(46, 67, 85);
  }

  p {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
  }

  h1 {
    font-weight: bold;
    font-size: 4rem;
  }

  h3 {
    font-weight: bold;
    font-size: 50px;
  }

  #totalbox {
    display: inline-block;
    vertical-align: middle;
    margin: 0px, 0px;
    padding: 25px 50px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    position: relative;
    border: 2px solid #555;
    border-radius: 10px;
    text-align: center;
    background-color: white;
    font-weight: bold;
    font-size: 20px;
    color: black;
  }

  .dropdown-btn {
    display: inline-block;
    margin: 15px;
    width: 250px;
    height: 75px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: rgb(201, 77, 27);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
  }

  .dropdown-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .sub-btn {
    display: inline-block;
    background-color: rgb(201, 77, 27);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 50px;
    margin: 5px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 10px 200px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
  }
}

@media only screen and (max-width: 600px) {
  body {
    background-color: rgb(46, 67, 83);
    display: flex;
    flex-direction: column;
    align-items: center; /* Center vertically */
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  }

  .heading {
    background-color: white;
    width: 100vw;
    border-bottom: 2px solid black; /* Adds a black bottom border */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center vertically */
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  }

  h1 {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    text-align: center;
  }

  .color1 {
    color: rgb(201, 77, 27);
  }

  .color2 {
    color: rgb(46, 67, 85);
  }
  .dropdown-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center vertically */
  }

  .dropdown-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: rgb(201, 77, 27);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  }

  .dropdown-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .sub-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    margin: 5px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    background-color: rgb(201, 77, 27);
    color: white;
    padding: 10px 200px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
  }

  #totalbox {
    display: inline-block;
    vertical-align: middle;
    width: 200px;
    margin: 0px, 0px;
    padding: 10px 10px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    position: relative;
    border: 2px solid #555;
    border-radius: 10px;
    text-align: center;
    background-color: white;
    font-weight: bold;
    font-size: 20px;
    color: black;
  }
}

